@tailwind base;
@tailwind components;
@tailwind utilities;

*{ 
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Montserrat",sans-serif !important;

}

button{
    box-shadow: none !important;
    height: 45px !important;
    border-radius: 2px !important;
}
input,select,textarea{
    height: 40px !important;
    width: 100% !important;
    border: 1px solid #6d6d6d !important;
    padding-left: 20px !important;
    border-radius: 2px !important;
}
input:focus,select:focus,textarea:focus{
    outline: none !important;
    border: 1px solid #303030 !important;
    box-shadow: none !important;
}
.ant-form-item{
    margin-top: 0px !important;
}
.ant-form-item-label{
    padding: 0px !important;
}
svg{
    cursor: pointer;
}

table{
    border: 1px solid #c0c0c0 !important;
}
.ant-select-selector{
    border: 2px #6d6d6d !important;
    border-radius: 2px !important;
    height: 40px !important;
   
}
.ant-select-selector:hover{
    border: 1px #303030 !important;
    box-shadow: none !important;
    height: 40px !important;
    
}

select .ant-select-selector input{
    height: 40px !important;
    border: none !important
}